.signup-form{
    display: block;
    border-color: black;
    border-width: 5px;
    position: fixed;
    z-index: 1;
    background-color:rgb(144, 223, 158);
    width: 400px;
    height:auto;
    border-radius: 8px;
    padding: 20px;
    box-shadow:rgb(195, 144, 235);
    margin-left: 40%;
    margin-top: 4%;
    overflow: auto;
}
